/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL  */
.header .container,
.main .container,
.footer .container {
    max-width: 1380px;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration-line: unset;
}

ul {
    list-style-type: none;
    font-style: normal;
    display: flex;
    gap: 12px;
}

/* DEBUG  */
.debug * {
    border: 2px solid sienna;
}

/* &hearts;  => color: red; background-color: white;  */

/* HEADER  */
.header {
    
    background-color: rgb(213, 148, 27);
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-img {
    max-height: 30px;
}




/* MAIN  */

.main .container {
    padding-top: 120px;
}

.main .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.card {
    width: calc(100% / 3);
    padding: 0 20px 50px 20px;
    /* padding-right: 20px;
    padding-bottom: 50px; */
}

.card-img-heart {
    position: relative;
}

.card-img,
.card-img2 {
    width: 100%;

}

.card-heart {
    width: 48px;
    height: 48px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 0%;
    font-size: 22px;
    user-select: none;
    cursor: pointer;
}

.card-heart:hover {
    color: red;
}

.card-green-red {
    display: flex;
    height: 25px; 
    position: absolute;
    bottom: 40px;
    gap: 10px;
}

.red, 
.green {
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    width: 55px;
    background-color: red;
}

.green {
    width: 105px;
    background-color: rgb(70, 193, 82);
}


/* DESCRIPTION  */
.card-description h3 {
    font-size: 13px;
    font-weight: medium;
}

.card-description h2 {
    font-size: 16px;
    font-weight: bold;
}

.card-description .price-discounted {
    color: red;
    font-weight: bold;
}

.card-description .price-old {
    text-decoration-line: line-through

}

/* FOOTER  */
.footer {
    background-color: black;
    color: white;
    line-height: 2em;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    height: 105px;
    align-items: center;
}

.footer .logos img {
    height: 18px;
}


/* OVERLAY CON GIANLUCA */

.card-img2 {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity 400ms ease-in-out;

} 

.card:hover .card-img2 {
    opacity: 1;
}

